.Navigation{
    margin-bottom: 30px;
    background-color: rgb(49, 96, 153);
    
 } 
.NavLink, .Brand{
    text-decoration: none;
    color: white;
    font-size: 25px;
   
    margin-left: 10px;
 }



 
